

.input-box {
  background-color: #0a1d37;
  height: 7.5rem;
  width: 31rem;
  padding-top: 5rem;
  padding-right: 1rem;
  border: none;
  color: #ffeedb;
  text-align: end;
  font-size: 40px;
  margin: 0;

}




